<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Form</title>
	<!-- jQuery -->
<script src="scripts/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<link rel="stylesheet" href="scripts/bootstrap/dist/css/bootstrap.min.css">
<!-- Normalize.css -->
<link rel="stylesheet" type="text/css" href="scripts/normalize.css/normalize.css">


<!-- STATIC  -->

<!-- custom styles -->
<link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
<!-- custom script -->
<script type="text/javascript" src="static/javascript/passwordhandlingFunctions.js"></script> 
	charset="utf-8">
</head>
<body>


	<form action="#" method="POST">
		<p>
			<label for="username">Username</label>
			<input id="username" name="username" type="text">
		</p>
		<p>
			<label for="password">Password</label>
			<input id="password" name="password" type="password">
			<span>Enter a password longer than 8 characters</span>
		</p>
		<p>
			<label for="confirm_password">Confirm Password</label>
			<input id="confirm_password" name="confirm_password" type="password">
			<span>Please confirm your password</span>
		</p>
		<p>
			<input type="submit" value="SUBMIT">
		</p>
	</form>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="passwordhandlingFunctions.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
